<% content_for :title, "New Member" %>

<div class="page-header">
  <h1 class="page-title h4">Add Member</h1>
  <p class="page-subtitle mb-0"><%= @chapter.name %> &middot; <%= @current_forum.name %></p>
</div>

<% if @current_forum.member_limit %>
  <p class="text-muted small">
    Members on the <%= @current_forum.plan.name %> plan: <%= @current_forum.users.member.count %>/<%= @current_forum.member_limit %>
  </p>
<% end %>

<div class="row justify-content-center">
  <div class="col-12 col-lg-7">
    <div class="card">
      <div class="card-body p-4">
        <%= render "form", member: @member, url: forum_chapter_members_path(forum_slug: @current_forum.slug, chapter_id: @chapter.id), method: :post %>
      </div>
    </div>
  </div>
</div>
